*{
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
}
.flex2{
    width: 30%;
}
.flex-container3{
    background-color: lightseagreen;
    width: 70%;
    height: 800px;
    margin: 2px;
    border: dotted 1px black;
    
}
.flex-container1{
    width: 100%;
    height: 400px;
    margin:2px ;
    background-color: whitesmoke;
    border: dotted 1px black;
}
