*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    margin-top: 40px;   
}
body form{
    text-align: center;
    border: 1000px;
    background-color: rgba(128, 128, 128, 0.432);
    padding: 10px 20px 10px 20px;
    margin: 10px;
    max-width: 20%;
    border-bottom: 3px solid black;   
}
body h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;   
}
body input{
    border: 4px solid black;
    height: 40px;
    line-height: 100%;
    width: 100%;
}
body button{
    height: 40px;
    line-height: 100%;
    width: 100%;
    background-color: rgba(198, 20, 221, 0.521);
    
}